@inject Microsoft.AspNetCore.Identity.SignInManager<ApplicationUser> _signInManager
@if(_signInManager.IsSignedIn(User))
{
    <li class="nav-item dropdown ml-auto">
        <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            @User.Identity.Name
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" asp-action="Logout" asp-controller="Account">Logout</a>
            <a class="dropdown-item" asp-action="ChangePassword" asp-controller="Account">Change password</a>
        </div>
    </li>


}
else
{
    <form class="form-inline my-2 my-lg-0">
        <button  type="submit" class="btn btn-outline-success" asp-controller="UserAccount" asp-action="Register">Register</button>
        <button type="submit" class="btn btn-outline-dark my-2 my-sm-0 ml-auto" asp-controller="UserAccount" asp-action="Login">Login</button>
    </form>
}



