@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>
    Welcome to our gaming haven, where the thrill of virtual adventures meets the ease of discovery!
    At GamesLibrary website, we're passionate about bringing gamers together in a centralized hub dedicated
    to the world of video games. This platform leverages the power of the IGDB API to provide you with
    a comprehensive database of games, ensuring you stay up-to-date with the latest releases and
    classics alike. Whether you're a seasoned gamer or just starting your virtual journey,
    our user-friendly interface allows you to effortlessly search for your favorite titles and curate
    a personalized games list. Dive into a world of exploration, excitement, and endless possibilities
    as you navigate through our extensive collection.
    Join our community of gaming enthusiasts, and let the adventure begin!
</p>
